.top-nav-collapse {
    background-color: rgba(159, 221, 78, 0.804)!important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: rgba(108, 189, 3, 0.804)!important;
    }
}

body {
    background-color: rgb(17, 17, 17);
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
}


/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

.rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(86, 122, 39, 0.804) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(169, 233, 86, 0.804) 100%));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(161, 226, 76, 0.804) 100%);
}

.card {
    background-color: rgba(47, 78, 5, 0.836);
}

.md-form label {
    color: #ffffff;
}

.slideshow {
    margin: 0 auto;
    padding-top: 0px;
    height: 200px;
    background: rgb(9, 133, 9);
    box-sizing: border-box;
}

main {
    margin-top: 70px;
    margin-bottom: 450px;
    background-color: rgb(17, 17, 17);
}

.content {
    margin: auto;
    height: 0px;
    width: 300px;
    perspective: 2500px;
    position: relative;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 25s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 300px;
    height: 300px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(416px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(416px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(416px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(416px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(416px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(416px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(416px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(416px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(416px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(416px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#text,
h4 {
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 0px 60px 30px 60px;
    text-align: center;
}

h1 {
    color: chartreuse;
}